<div id="flex-nav">
	<a (click)="switchNavButtons($event, true);" class="flex-nav-item" [ngClass]="{selected: navButtonsState[0], inactive: !navButtonsState[0]}">
		<i class="fas fa-question-circle"></i> {{ 'help' | translate }}
	</a>
	<a [routerLink]="['intro']" (click)="switchNavButtons($event, true)" class="flex-nav-item" [ngClass]="{selected: navButtonsState[1], inactive: !navButtonsState[1]}">
		<i class="fas fa-tachometer-alt"></i> {{ 'intro' | translate }}
	</a>
	<a [routerLink]="['login']" (click)="switchNavButtons($event, true)" class="flex-nav-item" [ngClass]="{selected: navButtonsState[2], inactive: !navButtonsState[2]}">
		<i class="fas fa-user"></i> {{ 'login' | translate }}
	</a>
	<a [routerLink]="['data']" (click)="switchNavButtons($event, true)" class="flex-nav-item" [ngClass]="{selected: navButtonsState[3], inactive: !navButtonsState[3]}">
		<i class="fas fa-database"></i> {{ 'data' | translate }}
	</a>
	<span>
		<button *ngFor="let lang of supportedLanguages" class="btn btn-default btn-sm" [ngClass]="{selected: isLanguageSelected(lang.key)}" (click)="selectLanguage(lang.key)">{{lang.name}}</button>
	</span>
</div>
